* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #333;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

.search-container {
    padding: 10px;
    background-color: white; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 20px auto;
    border-radius: 8px;
}

form {
    display: flex;
    align-items: center;
}

input[type="search"] {
    padding: 8px;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 4px 0 0 4px;
    outline: none;
    flex-grow: 1; 
}

button[type="submit"] {
    padding: 8px;
    background-color: #555;
    color: white;
    border: none;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #333;
}

#maindiv {
    display: flex;
    flex-wrap: nowrap;
    margin: 20px;
    height: calc(100vh - 60px);
    overflow: hidden;
}

#d1 {
    width: 200px;
    padding: 20px;
    background-color: #f1f1f1;
    border-right: 1px solid #ddd;
    border-radius: 8px;
    margin-bottom: 20px;
    position: fixed;
    height: calc(100vh - 60px);
    overflow-y: auto;
}

#u1 {
    list-style-type: none;
}

#u1 li {
    padding: 10px 0;
    font-weight: bold;
    cursor: pointer;
}

#u1 li:hover {
    color: #0073e6;
}

#d2 {
    flex-grow: 1;
    padding: 20px;
    margin-left: 220px;
    overflow-y: auto;
}

.img-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); 
    gap: 40px;
}

.img {
    width: 100%;
    height: auto; 
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.img:hover {
    transform: scale(1.05);
}

#search {
    width: 100%;
}

#menu-toggle {
    display: block;
    padding: 10px;
    margin: 10px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: none;
    cursor: pointer;
    top: 10px;
    left: 10px;
    z-index: 1000;
    border-radius: 8px;
    position: absolute;
}

#menu-toggle:hover {
    background-color: #f7f7f7;
}

@media (max-width: 768px) {
    .search-container {
        max-width: 80%;
        margin: 10px;
        margin-left: 70px;
    }

    #maindiv {
        flex-direction: column;
        height: auto;
    }

    #d1 {
        width: 80%;
        position: relative;
        height: auto;
        border-right: none;
        border-bottom: 1px solid #ddd;
        margin-bottom: 10px;
    }

    #d2 {
        margin-left: 0;
        padding: 10px;
    }

    .img-container {
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
        gap: 20px;
    }

    .img {
        width: 100%;
    }

    #menu-toggle {
        display: block;
    }

    #d1 {
        display: none;
    }
}
